{% extends 'backoffice/base.html' %}
{% load staticfiles %}
{% block title%} Index {% endblock %}
{% block content %}
<div class="box">
    <div class="box-inner">
        <div class="box-title">
            <h2>Forms</h2>
        </div>
        <!-- /.box-title -->
        <div class="row">
            <div class="col-md-12">
                <h6 class="page-title-small mb30">Add News</h6>
                <form method="{{ method|default:'POST'}}" action="{{ action }}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                    {% endfor %}
                    <div class="form-group">
                        <label>{{ form.image.label }}</label>
                        {{ form.image }}
                    </div>
                    <div class="form-group">
                        <label>{{ form.name.label }}</label>
                        {{ form.name }}
                    </div>
                    <div class="form-group">
                        <label>{{ form.description.label }}</label>
                        {{ form.description }}
                    </div>
                    <div class="form-group">
                        <label>{{ form.short_description.label }}</label>
                        {{ form.short_description }}
                    </div>
                    <div class="form-group">
                        <!-- <p class="text-danger">{{ form.picture1.help_text }}</p> -->
                        <label>{{ form.picture1.label }} </label>
                        {{ form.picture1 }}
                        {{ form.picture1.errors }}
                    </div>
                    <div class="form-group">
                        <!-- <p class="text-danger">{{ form.picture2.help_text }}</p> -->
                        <label>{{ form.picture2.label }} </label>
                        {{ form.picture2 }}
                        {{ form.picture2.errors }}
                    </div>
                    <div class="form-group">
                        <!-- <p class="text-danger">{{ form.picture3.help_text }}</p> -->
                        <label>{{ form.picture3.label }} </label>
                        {{ form.picture3 }}
                        {{ form.picture3.errors }}
                    </div>
                    <!--<div class="form-group">
                <label >{{ form.picture2.label }}</label>
                {{ form.picture2 }}
            </div>
            <div class="form-group">
                <label >{{ form.picture3.label }}</label>
                {{ form.picture3 }}
            </div>-->
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
    <!-- /.box-inner -->
</div>
{% endblock %}