{% extends 'backoffice/base.html' %}
{% load static %}
{% load templatehelpers %}
{% block title%} {{ title }} {% endblock %}
{% block content %}
<div class="box">
    <div class="box-inner">
      <div class="box-title">
        <h2>Formulir</h2>
      </div>
      <div class="box-title">
        <form method="GET" action="">
          <div class="row">
            <div class="col-sm-3">
              <div class="input-group">
                <input type="text" name="search" class="form-control" placeholder="Search Qr-Code..." value="{{ filter.search }}">
              </div>
            </div>

            <div class="col-sm-2">
              <div class="input-group">
                <select class="form-control" name="ewallet">
                  <option value=""> .. eWallet .. </option>
                  <option value="gopay" {% if filter.ewallet == "gopay" %} selected {% endif %}>Gopay</option>
                  <option value="ovo" {% if filter.ewallet == "ovo" %} selected {% endif %}>OVO</option>
                  <option value="dana" {% if filter.ewallet == "dana" %} selected {% endif %}>Dana</option>
                  <option value="shopee_pay" {% if filter.ewallet == "shopee_pay" %} selected {% endif %}>Shopee Pay</option>
                </select>
              </div>
            </div>

            <div class="col-sm-2">
              <div class="input-group">
                <select class="form-control" name="status">
                  <option value=""> .. status .. </option>
                  <option value="new" {% if filter.status == "new" %} selected {% endif %}>New</option>
                  <option value="paid" {% if filter.status == "paid" %} selected {% endif %}>Paid</option>
                  <option value="cancelled" {% if filter.status == "cancelled" %} selected {% endif %}>Cancelled</option>
                </select>
              </div>
            </div>

            <div class="col-sm-2">
              <button type="submit" id="btn-search-fix-h" class="btn btn-primary">
                submit
              </button>
            </div>

            <div class="col-sm-3">
              <P>New: {{new_count}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Paid: {{paid_count}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Cancel: {{cancel_count}}</P>
            </div>

          </div>
        </form>
      </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>No</th>
            <th>Name</th>
            <th>Mobile Number</th>
            <th>Nominal</th>
            <th>E-Wallet</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
        {% for redeem in redeems %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ redeem.user.product }}</td>
            <td>{{ redeem.user.mobile_number }}</td>
            <td>{{ redeem.nominal }}</td>
            <td>{{ redeem.status }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
  
      <div class="pull-right">
        <p>Page {{ rdeems.number }} of {{ rdeems.paginator.num_pages }}</p>
        <nav aria-label="">
          <ul class="pagination">
            {% if rdeems.has_previous %}
            <li class="page-item"><a class="page-link" href="{% relative_url 1 'page' request.GET.urlencode %}">First</a>
            </li>
            <li class="page-item"><a class="page-link"
                href="{% relative_url rdeems.previous_page_number 'page' request.GET.urlencode %}">Previous</a></li>
            {% endif %}
            <!-- {% for i in rdeems.paginator.page_range %}
            <li class="page-item"><a class="page-link {% if rdeems.number == i %}is-active{% endif %}"
                href="{% relative_url i 'page' request.GET.urlencode %}">{{forloop.counter}}</a></li>
            {% endfor %} -->
            {% if rdeems.has_next %}
            <li class="page-item"><a class="page-link"
                href="{% relative_url rdeems.next_page_number 'page' request.GET.urlencode %}">Next</a></li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>

  </div>
{% endblock %}
