_Store
media/*
!media/tests.png
*/CACHE/*
static
build/*
*.pyc
*.pyo
*.so
*~
*.db
local_settings.py
*.jpg.*
*.tmproj
*.sqlite
*.sqlite3
.sass-cache
dump.rdb
.sqlite3
static_files/foto-c1/*
static_files/foto-box/*
static_files/ktp/*
static_files/backuped/*
static_files/barcode/*
static_files/surat_tugas/*
wilayahkpu.csv
