appdirs==1.4.4
asgiref==3.2.10
certifi==2021.10.8
cfgv==3.2.0
chardet==4.0.0
charset-normalizer==2.0.12
defusedxml==0.7.1
diff-match-patch==20200713
distlib==0.3.1
Django==3.1.2
django-excel==0.0.10
django-import-export==2.8.0
django-qrcode==0.3
django-sequences==2.6
django-summernote==0.8.11.6
et-xmlfile==1.1.0
filelock==3.0.12
future==0.18.2
identify==1.5.10
idna==3.3
lml==0.1.0
MarkupPy==1.14
nodeenv==1.5.0
odfpy==1.4.1
openpyxl==3.0.9
Pillow==9.1.0
pre-commit==2.9.3
pyexcel==0.7.0
pyexcel-io==0.6.6
pyexcel-webio==0.1.4
PyMySQL==0.10.1
python-slugify==4.0.1
pytz==2020.1
PyYAML==5.3.1
reportlab==3.5.67
requests==2.27.1
six==1.15.0
sqlparse==0.4.1
tablib==3.2.1
text-unidecode==1.3
texttable==1.6.4
toml==0.10.2
urllib3==1.26.9
virtualenv==20.2.2
xlrd==2.0.1
xlwt==1.3.0
