{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Imam Asari">
  <title>NXP OIL Rewards</title>
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/animate.min.css' %}" rel="stylesheet"> 
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/lightbox.css' %}" rel="stylesheet">
  <link href="{% static 'css/mystyle.css' %}" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="{{settings.favicon.img_value}}">
  <script type="text/javascript">
    window.CSRF_TOKEN = "{{ csrf_token }}";
  </script>
  {% block extra_header %} {% endblock %}
</head>
<body>
  <section id="form" class="centersection">
    <div class="col-sm-12 col-md-6 col-lg-4 logo-container">
      <img src="{% static '/images/logo.png' %}" />
    </div>
  </section>

  {% block content %} {% endblock %}

  <footer id="footer" class="row centersection">
    <div class="col-sm-12 col-md-6 col-lg-4">
      <p>&copy; 2020 nxp</p>
    </div>
  </footer>
  
  <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/wow.min.js' %}"></script>
  {% block extra_js %} {% endblock %}
</body>
</html>