
{% extends 'frontend/base.html' %}
{% load humanize %}
{% load static %}
{% block content %}
<section  class="row justify-content-lg-center">
  <div class="col-sm-12 col-md-6 col-lg-4 content scan-qrcode">
    <p> Scan Reward QR Code! </p>
    <img class="infomation-img" src="{% static '/images/information.png' %}" />
  </div>
</section>
<section  class="row">
  <div class="col-sm-12 col-md-6 col-lg-4 content present">
    <img class="checklist-img" src="{% static '/images/checklist.png' %}" />
    <p class="hallo">Hallo Sahabat NXP,</p>
    <p class="thank-you">Terima kasih sudah <br/> memilih oli NXP sebagai <br/> produk bengkel mu!</p>
  </div>
</section>
<section  class="row " >
  <div class="col-sm-12 col-md-6 col-lg-4 content apreciation">
    <img class="reward-img" src="{% static '/images/reward.png' %}" />
    <p class="reward-text">Sebagai bentuk apresiasi NXP, kamu <br/> mendapatkan e-wallet sebesar</p>
  </div>
</section>
<section  class="row  " >
  <div class="col-sm-12 col-md-6 col-lg-4 content imageinfowrapper">
    <img class="imageinfo" src="{% static '/images/idr.png' %}" />
    <img class="imageinfo" src="{% static '/images/group_pay.png' %}" />
  </div>
</section>
<section  class="row">
  <div class="col-sm-12 col-md-6 col-lg-4 content fillcontent">
    <p>Mohon mengisi formulir dibawah ini</p>
  </div>
</section>

<section  class="row" >
  <div class="col-sm-12 col-md-6 col-lg-4 content formcontent" >
    <form class="my-form"  id="formulir-form" method="POST" action="{% url 'frontend:index' %}"
      id="main-contact-form" name="contact-form" method="post" action="#">
      {% csrf_token %}
      <div class="form-group">
        <label for="dealer_code">Kode Dealer</label>
        <input type="text" name="dealer_code" id="dealer_code" placeholder="Nomor Agen" required="required">
      </div>
      <div class="form-group">
        <label for="serial_number">Serial Number</label>
        <input type="text" name="serial_number" id="serial_number" placeholder="Nomor Agen" required="required">
      </div>
      <div class="form-group">
        <label for="product">Produk</label>
        <input type="text" name="product" id="product" placeholder="Nomor Agen" required="required">
      </div>
      <div class="form-group">
        <label for="name">Nama</label>
        <input type="text" name="name" id="name" placeholder="Nomor HP" required="required">
      </div>
      <div class="form-group">
        <label for="mobile_number" >Nomor HP</label>
        <input type="text" name="mobile_number" id="mobile_number" placeholder="Nomor HP" required="required">
      </div>
      <div class="form-group">
        <label for="olitype" >Jenis Oli</label>
        <input type="text" id="olitype" name="oil_type" placeholder="Jenis Oli" required="required">
      </div>
      <div class="row" >
        <div class="col-sm-6 form-check">
          <label class="from-check-wrapper">
            <input class="form-check-input" type="radio" name="wallet_type" id="exampleRadios1" value="gopay" checked>
            <img class="payment-img" src="{% static '/images/gopay.png' %}" />
          </label>
        </div>
        <div class="col-sm-6 form-check ">
          <label class="from-check-wrapper">
            <input class="form-check-input" type="radio" name="wallet_type" id="exampleRadios2" value="ovo">
            <img class="payment-img" src="{% static '/images/ovo.png' %}" />
          </label>
        </div>
        <div class="col-sm-6 form-check ">
          <label class="from-check-wrapper">
            <input class="form-check-input" type="radio" name="wallet_type" id="exampleRadios2" value="dana">
            <img class="payment-img" src="{% static '/images/dana.png' %}" />
          </label>
        </div>
        <div class="col-sm-6 form-check ">
          <label class="from-check-wrapper">
            <input class="form-check-input" type="radio" name="wallet_type" id="exampleRadios2" value="shopee_pay">
            <img class="payment-img" src="{% static '/images/shopee.png' %}" />
          </label>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn-submit">Kirim Formulir</button>
      </div>
    </form>
  </div>
</section>

<section  class="row">
  <div class="col-sm-12 col-md-6 col-lg-4 content privasi">
    <img class="nxp-gray" src="{% static '/images/gray_logo.png' %}" />
    <p>Kami menjaga privasi segala bentuk <br/> informasi yang diterima</p>
    <p class="privasi-title">KEBIJAKAN PRIVASI</p>
  </div>
</section>

<section  class="row">
  <div class="col-sm-12 col-md-6 col-lg-4 content backto-main">
    <p>Halaman Utama</p>
    <img class="payment-img" src="{% static '/images/back.png' %}" />
  </div>
</section>

<div class="modal fade" id="exampleModalCenter"  >
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-body top-body1">
        <img class="image1" src="{% static '/images/icon_big.png' %}" />
        <img class="image2" src="{% static '/images/reward_green.png' %}" />
      </div>

      <div class="modal-body bottom-body">
        <button type="button" class="btn-submit">Bagikan ke teman kamu</button>
        <button type="button" class="btn-close" data-dismiss="modal">Tutup</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block extra_js %}
<script>
    $("#formulir-form").submit(function (e) {
        e.preventDefault();
        var serializedData = $(this).serialize();
        console.log(serializedData);
        $.ajax({
            type: 'POST',
            url: "{% url 'frontend:post_formulir' %}",
            data: serializedData,
            success: function (response) {
              $('#exampleModalCenter').modal('show');
              document.getElementById("formulir-form").reset();
            },
            error: function (response) {
              console.log(response)
              alert(response["message"]);
            }
        });
    });

    var element = document.getElementById('mobile_number');
    var maskOptions = {
      mask: '+620000000000000'
    };
    var mask = IMask(element, maskOptions);
</script>
{% endblock extra_js %}
