
{% extends 'frontend/base.html' %}
{% load humanize %}
{% load static %}
{% block content %}
<section  class="row justify-content-lg-center">
  <div class="col-sm-12 col-md-6 col-lg-4 content scan-qrcode">
    <p> Scan Reward QR Code! </p>
    <img class="infomation-img" src="{% static '/images/information.png' %}" />
  </div>
</section>
<section  class="row">
  <div class="col-sm-12 col-md-6 col-lg-4 content present">
    <img class="checklist-img" src="{% static '/images/checklist.png' %}" />
    <p class="hallo">Hallo Sahabat NXP,</p>
    <p class="thank-you">Terima kasih sudah <br/> memilih oli NXP sebagai <br/> produk bengkel mu!</p>
  </div>
</section>
<section  class="row " >
  <div class="col-sm-12 col-md-6 col-lg-4 content apreciation">
    <img class="reward-img" src="{% static '/images/reward.png' %}" />
    <p class="reward-text">Sebagai bentuk apresiasi NXP, kamu <br/> mendapatkan e-wallet sebesar</p>
  </div>
</section>
<section  class="row  " >
  <div class="col-sm-12 col-md-6 col-lg-4 content imageinfowrapper">
    <img class="imageinfo" src="{% static '/images/idr.png' %}" />
    <img class="imageinfo" src="{% static '/images/group_pay.png' %}" />
  </div>
</section>
<section  class="row">
  <div class="col-sm-12 col-md-6 col-lg-4 content fillcontent">
    <p>Mohon mengisi formulir dibawah ini</p>
  </div>
</section>

<section  class="row" >
  <div class="col-sm-12 col-md-6 col-lg-4 content formcontent" >
    <form method="POST" action="{% url 'frontend:index' %}" 
      id="main-contact-form" name="contact-form" method="post" action="#">
      {% csrf_token %}
      <div class="form-group">
        <input type="text" name="name" class="form-control" placeholder="Nama" required="required">
      </div>
      <div class="form-group">
        <input type="text" name="mobile_number" class="form-control" placeholder="Nomor HP" required="required">
      </div>
      <div class="form-group">
        <input type="text" name="agent_id" class="form-control" placeholder="Nomor Agent" required="required">
      </div>
      <div class="form-group">
        <input type="text" name="oil_type" class="form-control" placeholder="Jenis Oli" required="required">
      </div>
      <div class="form-group row" style="padding: 0 10px">
        <div class="col-sm-6 form-check">
          <label class="from-check-wrapper">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="oppo" checked>
            <img class="payment-img" src="{% static '/images/gopay.png' %}" />
          </label>
        </div>
        <div class="col-sm-6 form-check ">
          <label class="from-check-wrapper">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
            <img class="payment-img" src="{% static '/images/ovo.png' %}" />
          </label>
        </div>
        <div class="col-sm-6 form-check ">
          <label class="from-check-wrapper">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
            <img class="payment-img" src="{% static '/images/dana.png' %}" />
          </label>
        </div>
        <div class="col-sm-6 form-check ">
          <label class="from-check-wrapper">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
            <img class="payment-img" src="{% static '/images/shopee.png' %}" />
          </label>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn-submit">Kirim Formulir</button>
      </div>
    </form>   
  </div>
</section>

<section  class="row">
  <div class="col-sm-12 col-md-6 col-lg-4 content privasi">
    <img class="nxp-gray" src="{% static '/images/gray_logo.png' %}" />
    <p>Kami menjaga privasi segala bentuk <br/> informasi yang diterima</p>
    <p class="privasi-title">KEBIJAKAN PRIVASI</p>
  </div>
</section>

<section  class="row">
  <div class="col-sm-12 col-md-6 col-lg-4 content backto-main">
    <p>Halaman Utama</p>
  </div>
</section>

{% endblock %}
