{% extends 'backoffice/base.html' %}
{% load static %}
{% block title%} {{ title }} {% endblock %}
{% block content %}
{% load humanize %}
<div class="box margin-top-profile">
    <h2 class="profile__name">{{ user.name|upper }}</h2>
    <h4>{{ user.mobile_number }} - {{ user.dealer_name }}</h4>
    <h4>Address: {{ user.dealer_address }}</h4>
    <hr />
    <table class="table table-striped">
      <thead>
        <tr>
          <th>No</th>
          <th>Serial</th>
          <th>Date</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        {% for scan in scans %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ scan.serial_number }}</td>
          <td>{{ scan.datetime }}</td>
          <td>{{ scan.serial_number.value|intcomma }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <hr />
    <a class="btn btn-primary"
      href="{% url 'backoffice:rewards:transactions' %}?search={{ user.username|slice:'1:' }}">More Data</a>
</div>
{% endblock %}