$darkRed: #dc1b24;
$lightRed: #eb1b24;
$lightGray: #d3d3d3;
$darkGray: gray;

.logo-container {
    text-align: center;
    padding: 16px;
    margin: 0 auto;
    display: block;
    float: none;
}

.content {
    background-color: $lightRed;
    padding:10px 32px;
    margin: 0 auto;
    display: block;
    float: none;

    p {
        color: white;
        margin: 0;
    }

    form {
        width: calc(100% - 64px);
        background-color: white;
        display: block;
        margin: 0 auto;
        padding: 16px;
        position: absolute;
        top: -70px;
        left: 0;
        right: 0;
        margin: auto
    }
}

.scan-qrcode {
    background-color: $darkRed;
    padding: 20px 32px;
    position: relative;

    p {
        font-weight: 1.4em;
        font-weight: bold;
    }

    .infomation-img {
        position: absolute;
        right: 16px;
        top: 16px;
    }
}


.formcontent {
    background-color: $lightGray;
    min-height: 370px;
}

.privasi {
    background-color: $darkGray;
    text-align: center;
    .nxp-gray {
        padding: 16px 0;
    }
    .privasi-title {
        font-size: 1.1em;
        font-weight: bold;
        padding: 16px 0;
    }
}

.apreciation {
    display: flex;
    .reward-text {
        margin-left: 20px;
    }
}

.imageinfowrapper {
    text-align: center;
    .imageinfo {
        max-width: 100%;
    }
}

.fillcontent {
    padding: 24px 0 100px;
    text-align: center;
    p {
        font-size: 1.2em;
    }
}

.backto-main {
    background-color: white;
    border-top: 2px solid $lightRed;
    padding-top: 25px;
    padding-bottom: 25px;
    p {
        color: $lightRed;
    }
}

.footer {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    p {
        margin: 0;
    }
}