{% extends 'frontend/base.html' %}
{% block content %}
  <section id="blog" style="padding: 30px 0; ">
    <div class="container">
      <div class="row blog-posts" style="display: flex; justify-content: center;">
        <div class="col-sm-9 wow fadeInUp" data-wow-duration="1000ms" 
            data-wow-delay="400ms" >
          <div class="entry-header" >
              <h1><a href="#">{{blog.title}}</a></h1>
              <span class="date">{{blog.date}}</span>
          </div>
          <div class="post-thumb" style="text-align: center;">
            <img class="img-responsive" src="{{blog.img1.url}}" alt="" style="display: initial;">
          </div>
          <div class="entry-content" style="margin-top: 30px; margin-top: 30px;
              font-size: 1.1em;
              letter-spacing: 0.5px;
              color: black;
              line-height: 1.7em;">
            {{blog.long_desc|safe}}
          </div>
        </div>                          
      </div>
    </div>
  </section><!--/#blog-->

  <section id="blog">
    <div class="container">
      <div class="row">
        <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
          <h2>{{settings.blog_title.text_value}}</h2>
          <p>{{settings.blog_desc.text_value}}</p>
        </div>
      </div>
      <div class="blog-posts">
        <div class="row" id="posts">
          {% include 'frontend/blogs.html' %}
        </div>
        <div class="load-more wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
          <a id="lazyLoadLink" 
            href="javascript:void(0);" 
            data-page="2" data-link="{% url 'frontend:lazy_load_blogs' %}" 
            class="btn-loadmore"><i class="fa fa-repeat"></i>Artikel lainnya</a>
        </div>                
      </div>
    </div>
  </section>

  {% endblock %}