import pymysql
from pathlib import Path


DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql', 
        'NAME': 'sapujag1_sapujagad',
        'USER': 'sapujag1_user',
        'PASSWORD': '12!@qwQW9090opop',
        'HOST': '',
        'PORT': '',
    }
}

pymysql.version_info = (1, 4, 2, "final", 0)
pymysql.install_as_MySQLdb()

MEDIA_URL = '/media/'
STATICFILES_DIR= '/home/sapujag1/repositories/sapujagad/static_files'
STATIC_ROOT = '/home/sapujag1/public_html/static'
MEDIA_ROOT = '/home/sapujag1/public_html/media'

