<html>

<head>

</head>

<body>
  <!-- <div style="display: flex; flex-direction: column; margin: 0;"> -->
    {% for serial in serials %}
    {% if forloop.counter0|divisibleby:2 %}
    <div style="display: flex; margin: 0 auto;">
      {% endif %}

      <div style="text-align: center; position: relative; border-bottom: 1px solid #dddcdc;">
        <img src="http://chart.apis.google.com/chart?cht=qr&chs={{ 330 }}x{{ 330 }}&chl={{ serial.serial_number }}" />
        <p style="position: absolute; bottom: 0; text-align: center; width: 100%;">{{ serial.serial_number }}</p>
      </div>

      {% if forloop.counter|divisibleby:2 %}
    </div>
    {% endif %}
    {% endfor %}
  <!-- </div> -->
</body>

</html>