<html>

<head>
  <style>
    @media screen {
      div.divFooter {
        display: none;
      }
    }
    @media print {
      div.divFooter {
        position: fixed;
        top: 0;
      }
    }
  </style>
</head>

<body>
    {% for serial in serials %}
    {% if forloop.counter0|divisibleby:5 %}
    <div style="display: flex; margin: 0 auto;">
      {% endif %}

      <div style="text-align: center; position: relative;  padding-bottom: 8px;">
        <img src="http://chart.apis.google.com/chart?cht=qr&chs={{ 140 }}x{{ 140 }}&chl={{ serial.serial_number }}" />
        <p style="position: absolute; bottom: -6px; text-align: center; width: 100%; font-size:12px;">{{ serial.serial_number }}</p>
        <p style="position: absolute; bottom: -8px; text-align: center; width: 100%; font-size:6px;">{{ serial.order }}</p>
      </div>

      {% if forloop.counter|divisibleby:5 %}
    </div>
    {% endif %}
    {% endfor %}
</body>

</html>