{% extends 'backoffice/base.html' %} 
{% load static %} 
{% block title%} 
{{ title }} 
{% endblock %} 

{% block extra_header %}
<link
  href="{% static 'css/json-viewer.css' %}"
  rel="stylesheet"
  type="text/css"
/>
{% endblock %} {% block content %} {% load humanize %}
<div class="box margin-top-profile">
  <h4>Key: {{ data.key }}</h4>
  <h4>Model: {{ data.model }}</h4>
  <h4>Item Joined: {{ data.item_joined }}</h4>
  <h4>JSON DATA:</h4>
  <div id="json"></div>
  {% comment %}
  <pre id="json"></pre>
  {% endcomment %}
  <h4>Status: <b style="color: blue">{{ data.status }}</b></h4>
  {% comment %} <h4>{{ data.response }}</h4> {% endcomment %}
  <h4>RESPONSE DATA:</h4>
  <div id="jsonResponse"></div>
  {% if not data.status == "success" %}
    <button class="btn btn-primary" onClick="processMan('{{data.key}}', '{{data.type}}', '{{data.model}}')">
      Process
    </button>
  {% else %}
    <button class="btn btn-secondary" disabled >
      Process
    </button>
  {% endif %}
</div>
{% endblock %} 

{% block script %}
<script type="text/javascript" src="{% static 'js/json-viewer.js' %}"></script>
<script>
   var jsonViewer = new JSONViewer();
  document.querySelector("#json").appendChild(jsonViewer.getContainer());
  jsonViewer.showJSON({{data.json_data|safe}});

  var jsonViewer2 = new JSONViewer();
  document.querySelector("#jsonResponse").appendChild(jsonViewer2.getContainer());
  jsonViewer2.showJSON({{data.response|safe}});
</script>

<script>
  function process(total, key, type, model) {
    var url = `{% url 'backoffice:process_data' %}?&model=${model}&key=${key}&type=${type}`
    $.ajax({
      type: 'GET',
      url: url,
      async: true,
      success: function (response) {
        console.log(response)
        alert("Success")
        window.location.reload()
      },
      error: function (response) {
        console.log(response)
        alert("Error, Reload page to see response")
      }
    }); 
  }

  function processMan(key, type, model) {
    console.log(key, type, model)
    process(1, key, type, model);
  }
</script>
{% endblock %}
