{% extends 'backoffice/base.html' %}
{% load static %}
{% load humanize %}
{% load templatehelpers %}
{% block title%} {{ title }} {% endblock %}
{% block content %}
<div class="box">
    <div class="box-inner">
      <div class="box-title">
        <h2>{{title}}</h2>
      </div>

      <div class="box-title">
        <form method="GET" action="">
          <div class="row">
            <div class="col-sm-2">
              <div class="input-group">
                <input type="text" name="search" class="form-control" placeholder="Key" value="{{ filter.search }}">
              </div>
            </div>


            <div class="col-sm-2">
              <div class="input-group">
                <select class="form-control" name="model">
                  <option value="Cashflow" {% if filter.model == "Cashflow" %} selected {% endif %}>Cashflow</option>
                  <option value="paid" {% if filter.model == "paid" %} selected {% endif %}>Paid</option>
                  <option value="cancelled" {% if filter.model == "cancelled" %} selected {% endif %}>Cancelled</option>
                </select>
              </div>
            </div>

            <div class="col-sm-2">
              <div class="input-group">
                <select class="form-control" name="status">
                  <option value="new" {% if filter.status == "new" %} selected {% endif %}>New</option>
                  <option value="paid" {% if filter.status == "success" %} selected  {% endif %}>Paid</option>
                  <option value="cancelled" {% if filter.status == "failed" %} selected {% endif %}>Cancelled</option>
                </select>
              </div>
            </div>


            <div class="col-sm-2">
              <button type="submit" id="btn-search-fix-h" class="btn btn-primary">
                submit
              </button>
            </div>

            <div class="col-sm-12">
              <P>Total Item: {{total_item}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Item After Joined: {{item_joined}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; New: {{new_count}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Success: {{success_count}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Failed: {{failed_count}} </P>
            </div>


          </div>
        </form>
      </div>

      <div class="box-title">
        <form class="search-form" method="POST" id="main-search-form" name="search-form" >
          <div class="row">
            <div class="col-sm-2">
              <div class="input-group">
                <input type="number" name="number" class="form-control" placeholder="Number To Process" value="1">
              </div>
            </div>

            <div class="col-sm-2">
              <div class="input-group">
                <select class="form-control" name="model">
                  <option value="cashflow" {% if filter.model == "cashflow" %} selected {% endif %}>Cashflow</option>
                  <option value="paid" {% if filter.model == "paid" %} selected {% endif %}>Paid</option>
                  <option value="cancelled" {% if filter.model == "cancelled" %} selected {% endif %}>Cancelled</option>
                </select>
              </div>
            </div>

            <div class="col-sm-5">
              <p>Loading Progress : <span id="progress"> 0 </span> / <span id="total"> 0 </span> <br/>
              Please don't reload page when processing data </p>
            </div>


            <div class="col-sm-2">
              <button type="submit" id="btn-search-fix-h" class="btn btn-primary">
                Process
              </button>
            </div>

          </div>
        </form>
      </div>
      
        
      <table class="table table-striped">
        <thead>
          <tr>
            <th>No Akun</th>
            <th>Nama Akun</th>
            <th>No JV</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        {% for data in datas %}
          <tr>
            <td>{{ data.key }} </a></td>
            <td>{{ data.model }}</td>
            <td>{{ data.item_joined }}</td>
            <td>{{ data.status }}</td>
            <th><Button class="btn btn-primary">Manual Process</Button></th>
          </tr>
        {% endfor %}
        </tbody>
      </table>
  
      <div class="pull-right">
        <p>Page {{ datas.number }} of {{ datas.paginator.num_pages }}</p>
        <nav aria-label="">
          <ul class="pagination">
            {% if datas.has_previous %}
            <li class="page-item"><a class="page-link" href="{% relative_url 1 'page' request.GET.urlencode %}">First</a>
            </li>
            <li class="page-item"><a class="page-link"
                href="{% relative_url datas.previous_page_number 'page' request.GET.urlencode %}">Previous</a></li>
            {% endif %}
            {% if datas.has_next %}
            <li class="page-item"><a class="page-link"
                href="{% relative_url datas.next_page_number 'page' request.GET.urlencode %}">Next</a></li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>

  </div>
{% endblock %}


{% block script %} 
{% comment %} get value from form on submit, hit to server, get_data, every hit update number {% endcomment %}
<script type="text/javascript"> 
$("#main-search-form").submit(function (e) {
    e.preventDefault();
    var serializeArray = $(this).serializeArray();
    const number = serializeArray[0].value
    const model = serializeArray[1].value

    $.ajax({
      type: 'GET',
      url: `{% url 'backoffice:get_json_data' %}?number=${number}&model=Cashflow`,
      success: function (response) {
        $("#total").html(response.length);
        loop(response, model)
      },
      error: function (response) {
        alert("error")
      }
    });
    

  });

  function loop(data, model) {
    console.log(data)
    var i = 0 
    while (i <= data.length) {
      payload = data[i]["fields"]["json_data"]   
      const new_url = `https://finance.cakap.com/cakap_trn/api/${model}/savetran`;
      console.log(new_url)
      
      function getNextImage() {
        $.ajax({
          type: 'POST',
          url: new_url,
          headers: {'Content-Type': 'application/x-www-form-urlencoded'},
          contentType: 'application/x-www-form-urlencoded; charset=utf-8',
          dataType: 'json',
          async: true,
          data: {"doc": payload},
          success: function (response) {
            i++
            console.log(i, response);
            $("#progress").html(i);
          }, error: function (response) {
            i++;
            $("#progress").html(i);
            console.log(i, response)
          }
        })
      }


    }
  }

</script>
{% endblock %}

