{% extends 'backoffice/base.html' %}
{% load staticfiles %}
{% block title%} Index {% endblock %}
{% block extra_header %}
<link href="{% static 'css/highcharts.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<div class="box">
    <div class="box-inner">
        <div class="box-title clearfix">
            <h2>Grafik Registrasi Pemilih</h2>
        </div>
        <!-- /.box-title -->
        <div id="chartRelSahGraph" name="chartRelSahGraph"></div>
    </div>
    <!-- /.box-inner -->
</div></a>
<div class="stats">
    <div class="row">
        <a href="{% url 'backoffice:relawan:index' %}">
            <div class="col-md-6 col-lg-3">
                <div class="stat-box stat-box-gray">
                    <div class="stat-box-icon"><i class="fa fa-users"></i></div>
                    <strong>{{ total_relawan | default:'0'}}</strong>
                    <span>Total Relawan</span>
                </div>
        </a>
    </div>

    <div class="col-md-6 col-lg-3">
        <a href="{% url 'backoffice:sahabat:index'%}?registrasi_status=new">
            <div class="stat-box stat-box-purple">
                <div class="stat-box-icon"><i class="fa fa-users"></i></div>
                <strong> {{ total_new | default:'0' }}</strong>
                <span>Total Sahabat Baru</span>
            </div>
        </a>
    </div>

    <div class="col-md-6 col-lg-3">
        <a href="{% url 'backoffice:sahabat:index'%}?registrasi_status=tidak_valid">

            <div class="stat-box stat-box-red">
                <div class="stat-box-icon"><i class="fa fa-users"></i></div>
                <strong>{{ total_invalid | default:'0' }}</strong>
                <span>Total Sahabat Tidak Valid</span>
            </div>
        </a>
    </div>

    <div class="col-md-6 col-lg-3">
        <a href="{% url 'backoffice:sahabat:index'%}?registrasi_status__in=valid,auto_valid">
            <div class="stat-box stat-box-blue">
                <div class="stat-box-icon"><i class="fa fa-users"></i></div>
                <strong>{{ total_valid | default:'0' }}</strong>
                <span>Total Sahabat Valid</span>
            </div>
        </a>
    </div>
</div>


<div class="row">
    <div class="col-md-6 col-lg-3">
        <a href="{% url 'backoffice:sahabat:index'%}?jenis_kelamin=Wanita">
            <div class="stat-box stat-box-gray">
                <div class="stat-box-icon"><i class="fa fa-female"></i></div>
                <strong>{{ total_perempuan | default:'0'}}</strong>
                <span>Total Perempuan</span>
            </div>
        </a>
    </div>

    <div class="col-md-6 col-lg-3">
        <a href="{% url 'backoffice:sahabat:index'%}?jenis_kelamin=Pria">
            <div class="stat-box stat-box-purple">
                <div class="stat-box-icon"><i class="fa fa-male"></i></div>
                <strong> {{ total_pria | default:'0' }}</strong>
                <span>Total Laki-laki</span>
            </div>
        </a>
    </div>

    <div class="col-md-6 col-lg-3">
        <a href="{% url 'backoffice:sahabat:index'%}?kabupaten_kota_id=3173">
            <div class="stat-box stat-box-red">
                <div class="stat-box-icon"><i class="fa fa-map"></i></div>
                <strong>{{ total_jakpus | default:'0' }}</strong>
                <span>Total Jakarta Pusat</span>
            </div>
        </a>
    </div>

    <div class="col-md-6 col-lg-3">
        <a href="{% url 'backoffice:sahabat:index'%}?kabupaten_kota_id=3171">
            <div class="stat-box stat-box-blue">
                <div class="stat-box-icon"><i class="fa fa-map"></i></div>
                <strong>{{ total_jaksel | default:'0' }}</strong>
                <span>Total Jakarta Selatan</span>
            </div>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-lg-3">
        <a href="{% url 'backoffice:sahabat:index'%}?login=never">
            <div class="stat-box stat-box-gray">
                <div class="stat-box-icon"><i class="fa fa-sign-in"></i></div>
                <strong>{{ never_login | default:'0'}}</strong>
                <span>Tidak Pernah Login</span>
            </div>
        </a>
    </div>

    <div class="col-md-6 col-lg-3">
        <a href="{% url 'backoffice:sahabat:index'%}?login=before_week_ago">
            <div class="stat-box stat-box-red">
                <div class="stat-box-icon"><i class="fa fa-sign-in"></i></div>
                <strong>{{ before_week_ago | default:'0' }}</strong>
                <span>Login sebelum {{ week_ago | date:'Y-m-d'}}</span>
            </div>
        </a>
    </div>

    <div class="col-md-6 col-lg-3">
        <a href="{% url 'backoffice:sahabat:index'%}?login=after_week_ago">
            <div class="stat-box stat-box-purple">
                <div class="stat-box-icon"><i class="fa fa-sign-in"></i></div>
                <strong> {{ after_week_ago | default:'0' }}</strong>
                <span>Login 7 Hari Terakhir</span>
            </div>
        </a>
    </div>

    <div class="col-md-6 col-lg-3">
        <a href="{% url 'backoffice:sahabat:index'%}?login=login_today">
            <div class="stat-box stat-box-blue">
                <div class="stat-box-icon"><i class="fa fa-sign-in"></i></div>
                <strong> {{ login_today | default:'0' }}</strong>
                <span>Login Hari Ini</span>
            </div>
        </a>
    </div>


</div>

</div>
<!-- /.stats -->

<!-- <div class="box">
    <div class="box-inner">
        <div class="box-title clearfix">
            <h2>Validasi Sahabat</h2>
        </div>
        <div id="sahabat_validation_pie" name="sahabat_validation_pie"></div>
    </div>
</div>
 -->

<div class="box">
    <div class="box-inner">
        <div class="box-title clearfix">
            <h2>Evaluasi Koordinator</h2>
        </div>
        <!-- <div id="kordinator_exist" name="kordinator_exist"></div> -->
        <table id="datatable">
            <thead>
                <tr>
                    <th width="40%"></th>
                    <th width="40%">Sudah Ada Kordinator</th>
                    <th width="40%">Tidak Ada Kordinator</th>
                </tr>
            </thead>
            <tbody>
                {% for wilayah in kordinator %}
                <tr>
                    <th>{{wilayah.name}}</th>
                    <td>{{wilayah.coordinator}}</td>
                    <td>{{wilayah.uncoordinator}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="box">
    <div class="box-inner">
        <div class="box-title clearfix">
            <h2>Evaluasi Pendidikan</h2>
        </div>
        <!-- <div id="kordinator_exist" name="kordinator_exist"></div> -->
        <table id="datatable" width="100%">
            <thead>
                <tr>
                    <th width="15%">SD</th>
                    <th width="15%">SMP</th>
                    <th width="15%">SMA</th>
                    <th width="15%">S1</th>
                    <th width="15%">S2</th>
                    <th width="15%">S3</th>
                    <th width="15%">Lainnya</th>
                </tr>
            </thead>
            <tbody>
                <td>{{ sd | default:0 }}</td>
                <td>{{ smp | default:0 }}</td>
                <td>{{ sma | default:0 }}</td>
                <td>{{ s1 | default:0 }}</td>
                <td>{{ s2 | default:0 }}</td>
                <td>{{ s3 | default:0 }}</td>
                <td>{{ Lainnya | default:0 }}</td>
            </tbody>
        </table>
    </div>
</div>


<div class="box">
    <div class="box-inner">
        <div class="box-title clearfix">
            <h2>Evaluasi Agama</h2>
        </div>
        <!-- <div id="kordinator_exist" name="kordinator_exist"></div> -->
        <table id="datatable" width="100%">
            <thead>
                <tr>
                    <th width="15%">Islam</th>
                    <th width="15%">Kristen</th>
                    <th width="15%">Hindu</th>
                    <th width="15%">Budha</th>
                    <th width="15%">Khonghucu</th>
                </tr>
            </thead>
            <tbody>
                <td>{{ islam | default:0 }}</td>
                <td>{{ kristen | default:0 }}</td>
                <td>{{ hindu | default:0 }}</td>
                <td>{{ budha | default:0 }}</td>
                <td>{{ konghucu | default:0 }}</td>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}


{% block script %}
<script type="text/javascript" src="{% static 'js/highcharts.js' %}"></script>
<script src="{% static 'js/data.js' %}"></script>
<script>
    Highcharts.chart('chartRelSahGraph', {
        chart: {
            zoomType: 'x',
        },
        title: {
            text: ''
        },
        xAxis: {
            type: 'datetime'
        },

        series: [{
            name: "sahabat",
            point: {
                events: {
                    click: function () {
                        var date = new Date(this.x)
                        var day = date.getDate();
                        var monthIndex = date.getMonth()+1;
                        var year = date.getFullYear();
                        date = year+"-"+monthIndex+"-"+day
                        window.top.location.href = '{% url 'backoffice:sahabat:index'%}?date_joined='+date
                    }
                }
            },
            data: {{ chartSahabat| safe }}
            }]
    });

</script>
{% endblock %}
