{% extends 'backoffice/base.html' %}
{% load static %}
{% block title%} Index {% endblock %}
{% block content %}

<div class="stats">
  <h3>Status</h3>
  <div class="row">
    <div class="col-md-6 col-lg-4">
      <a href="{% url 'backoffice:formulir:index'%}?status=new">
        <div class="stat-box stat-box-blue">
          <div class="stat-box-icon"><i class="fa fa-users"></i></div>
          <strong> {{ new_count | default:'0' }}</strong>
          <span>Formulir baru</span>
        </div>
      </a>
    </div>

    <div class="col-md-6 col-lg-4">
      <a href="{% url 'backoffice:formulir:index'%}?status=paid">
        <div class="stat-box stat-box-purple">
          <div class="stat-box-icon"><i class="fa fa-users"></i></div>
          <strong> {{ paid_count | default:'0' }}</strong>
          <span>Formulir dibayar</span>
        </div>
      </a>
    </div>

    <div class="col-md-6 col-lg-4">
      <a href="{% url 'backoffice:formulir:index'%}?status=cancelled">
        <div class="stat-box stat-box-red">
          <div class="stat-box-icon"><i class="fa fa-users"></i></div>
          <strong>{{ cancelled_count | default:'0' }}</strong>
          <span>Formulir di tolak</span>
        </div>
      </a>
    </div>
  </div>

  <h3>e-Wallet</h3>
  <div class="row">
    <div class="col-md-6 col-lg-3">
      <a href="{% url 'backoffice:formulir:index'%}?ewallet=ovo">
        <div class="stat-box stat-box-gray">
          <div class="stat-box-icon"><i class="fa fa-female"></i></div>
          <strong>{{ ovo_count | default:'0'}}</strong>
          <span>OVO</span>
        </div>
      </a>
    </div>

    <div class="col-md-6 col-lg-3">
      <a href="{% url 'backoffice:formulir:index'%}?ewallet=gopay">
        <div class="stat-box stat-box-purple">
          <div class="stat-box-icon"><i class="fa fa-male"></i></div>
          <strong> {{ gopay_count | default:'0' }}</strong>
          <span>Gopay</span>
        </div>
      </a>
    </div>

    <div class="col-md-6 col-lg-3">
      <a href="{% url 'backoffice:formulir:index'%}?ewallet=dana">
        <div class="stat-box stat-box-red">
          <div class="stat-box-icon"><i class="fa fa-map"></i></div>
          <strong>{{ dana_count | default:'0' }}</strong>
          <span>DANA</span>
        </div>
      </a>
    </div>

    <div class="col-md-6 col-lg-3">
      <a href="{% url 'backoffice:formulir:index'%}??ewallet=shopee_pay">
        <div class="stat-box stat-box-blue">
          <div class="stat-box-icon"><i class="fa fa-map"></i></div>
          <strong>{{ shopee_pay_count | default:'0' }}</strong>
          <span>Shopee Pay</span>
        </div>
      </a>
    </div>
  </div>
</div>

{% endblock %}
